---
permalink: /de/paper.md
templateEngineOverride: njk
eleventyExcludeFromCollections: true
lang: de
---
# Lerngesellschaft

*Ein Manifest für relationales Lernen.*

Jonas Hertner — Zürich — {{ site.year }}

Kontakt: {{ site.mail }}
Web (HTML): {{ site.urls.de }}/de/
Web (PDF): {{ site.urls.de }}/de/print/
Englische Fassung: {{ site.urls.en }}/en/

---

{% include "paper-de.md" %}
