---
permalink: /sitemap.xml
templateEngineOverride: njk
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
{#- Nur die öffentlichen Seiten. Alles Übrige trägt noindex und gehört nicht hierher. -#}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set pages = [
  { loc: "/",              prio: "1.0", freq: "monthly" },
  { loc: "/lernbus/",      prio: "0.9", freq: "monthly" },
  { loc: "/ansatz/",       prio: "0.7", freq: "monthly" },
  { loc: "/lernbus/team/", prio: "0.5", freq: "monthly" },
  { loc: "/impressum/",    prio: "0.2", freq: "yearly"  }
] %}
{%- for p in pages %}
  <url>
    <loc>{{ site.urls.de }}{{ p.loc }}</loc>
    <lastmod>{{ site.modified }}</lastmod>
    <changefreq>{{ p.freq }}</changefreq>
    <priority>{{ p.prio }}</priority>
  </url>
{%- endfor %}
</urlset>
